################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CIAnalysis/UtilityFunction.psm1
/CIAnalysis/HealthAnalysisModule/GetPhysicalDisk.psm1
/CIAnalysis/CLIXML.ps1
