################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CIAnalysis/HealthAnalysisModule
/CIAnalysis/UtilityFunction.psm1
/CIAnalysis/UnitTesting.ps1
/CIAnalysis/CLIXML.ps1
